html,body{
  width: 100%;
}
h1{
  text-align: center;
}
#app{
  width: 60%;
  margin: auto;
}
.contactList{
  padding: 0%;
}
.contact{
  padding-left: 25px;
  list-style: none;
  border-radius: 25px;;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact:hover{
  background-color: blanchedalmond;
}
.searchBar{
  width: 60%;
  margin: auto;
}
.searchInput{
  width: 80%;
  margin: auto;
}
#addContactIcon{
  width: 10%;
  float: right;
}
#addContactButton{
  width: 100%;
  padding:5px 5px;
}
form{
  width: 80%;
  margin: auto;
}
.contactFormInput{
  width:100%;
  padding:5px 5px;
  box-sizing : border-box;
  display: inline-block;
  
}
.deleteIcon{
  float: right;
  padding-right: 25px;
}
.contact h3{
  margin: 0;
}
p{
  text-align: center;
}